* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em 1em;
  font-size: 1.5em;
  color: white;
  background-color: #00ae95;
}

.logo {
  font-weight: 800;
}

.menu {
  list-style: none;
  display: flex;
}

.menu a {
  color: white;
  text-decoration: none;
  margin: 0 2em;
}

.container {
  width: 96%;
  margin: 1rem auto;
}
.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 0.5em;
}

/* Pager */
.pagination {
  cursor: pointer;
  display: inline-block;
  margin: 3em 0;
  margin-left: 40em;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.pagination a.active {
  background-color: #00ae95;
  color: white;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}
